:root{
    --primary-color:white;
    --secondary-color:rgb(205, 248, 248);
    --color:black;
    --a-hover-back:black;
    --button-background:black;
    --button-color:red;

}
.container{
    overflow-x: hidden;
    color: var(--color);
}
.dark{
    --primary-color:black;
    --secondary-color:gray;
    --color:white;
    --a-hover-back:white;
    --button-background:white;
    --button-color:red;
}
::selection {
    color: white;
    background-color: var(--color);
}
#moon{
    cursor: pointer;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    height: 100px;
    width: 100%;
}
.pavan{
    text-decoration: none;
    font-size: 30px;
    color: var(--color);
}
.unlock{
    text-decoration: none;
    color: var(--color);
}
.stark{
    position: relative;
}
#moon{
    position: absolute;
    top: -10px;
    left: 100px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    row-gap: 30px;
    height: 300px;
}
.mem{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.baba{
   padding-left: 6vw;
   padding-right: 6vw;
   text-decoration: none;
   color: var(--color);
}
.baba:hover{
    /* background-color: var(--a-hover-back); */
    color: var(--button-color);
}
.item1{
    height: 267px ;
    width: 240px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.item2{
    height: 267px;
    width: 20.6vw;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
}
.size:hover{
    color: var(--button-color);
}
.img1 {
    height: 247px;
    width: 220px;
}
.item{
    display: grid;
    grid-template-areas: "item1 item2";
    justify-content: flex-start;
    column-gap: 10px;
    grid-area: item;
}
.data{
    display: grid;
    grid-template-areas: "item1 item2";
    justify-content: flex-start;
    column-gap: 10px;
    grid-area: data;
}
.bata{
    display: grid;
    grid-template-areas: "item1 item2";
    justify-content: flex-start;
    column-gap: 10px;
    grid-area: bata;
}
.cata{
    display: grid;
    grid-template-areas: "item1 item2";
    justify-content: flex-start;
    column-gap: 10px;
    grid-area: cata;
}
.eata{
    display: grid;
    grid-template-areas: "item1 item2";
    justify-content: flex-start;
    column-gap: 10px;
    grid-area: eata;
}
.fata{
    display: grid;
    grid-template-areas: "item1 item2";
    justify-content: flex-start;
    column-gap: 10px;
    grid-area: fata;
}
.article{
    height: 1000px;
    width: 100%;
  background-color: var(--secondary-color);
    display: grid;
    grid-template-areas: "item data"
                         "bata cata"
                         "eata fata";
    justify-content: space-around;
    align-content: space-evenly;
}
.size {
    font-size: 25px;
    padding: 2%;
    color: var(--color);
}
.item2 h2{
    font-size: 20px;
}
.item2 p{
    font-size: 15px;
}
.lead {
    font-size: 11px;
    height: 18px;
    cursor: pointer;
    width: 55px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}
.lead:hover{
    background-color: var(--button-background);
    color: var(--button-color);
}
.section1{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
button {
    padding: 10px;
    background-color: var(--secondary-color);
    color: black;
}
button:hover {
    background-color: var(--button-background);
    color: rgb(255, 2, 2);
}
.profile{
    height: 370px;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.profile1, .profile2{
    display: grid;
    grid-template-areas: "pro1 pro2";
    justify-content: flex-start;
    column-gap: 10px;
    grid-area: data;
}
.pro1{
    grid-area: pro1; 
}
.pro2{
    grid-area: pro2;
}
.pro1{
    height: 267px ;
    width: 240px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.pro2{
    height: 267px;
    width: 20.6vw;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
}
.oo{
    text-align: center;
}
.footer {
    background-color:var(--primary-color);
    height: 280px;
    width: 100vw;
    display: grid;
    color: var(--color);
    grid-template-areas: "foot1 foot2 foot3 foot4";
    justify-content: space-evenly;
    padding-top: 30px;
    background-color: var(--primary-color);
}
.foot1 {
    grid-area: foot1;
}

.foot2 {
    grid-area: foot2;
}

.foot3 {
    grid-area: foot3;
}

.foot4 {
    grid-area: foot4;
}
.foot1 {
    width: 20vw;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}
@media screen and (min-width:665px) and (max-width:990px) {
    .stark{
        position: relative;
    }
    #moon{
        position: absolute;
        top: -10px;
        left: 110px;
    }
    .article{
        height: 1900px;
        width: 100%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-areas: "item"
                             "data"
                             "bata"
                             "cata"
                             "eata"
                             "fata";
        justify-content: space-around;
        align-content: space-evenly;
    }
    .item2{
        height: 267px;
        width: 43.6vw;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .profile{
        height: 650px;
        width: 100%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .pro2{
        height: 267px;
        width: 43.6vw;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .span{
        text-align: center;
    }
}
@media screen and (min-width:522px) and (max-width:665px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--secondary-color);
        height: 100px;
        width: 100%;
    }
    .pavan{
        text-decoration: none;
        font-size: 35px;
        color: var(--color);
    }
    .unlock{
        display: none;
        text-decoration: none;
        font-size: 15px;
        color: var(--color);
    }
    .stark{
        position: relative;
        font-size: 15px;
    }
    #moon{
        position: absolute;
        top: -10px;
        left: 100px;
    }
    .mem{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baba{
        padding-top: 15px;
        padding-bottom: 15px;
       text-decoration: none;
       color: var(--color);
    }
    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        width: 100vw;
        row-gap: 30px;
        height: 400px;
    }
    .article{
        height: 1900px;
        width: 100%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-areas: "item"
                             "data"
                             "bata"
                             "cata"
                             "eata"
                             "fata";
        justify-content: space-around;
        align-content: space-evenly;
    }
    .item2{
        height: 267px;
        width: 43.6vw;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .profile{
        height: 650px;
        width: 100%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .pro2{
        height: 267px;
        width: 43.6vw;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .span{
        text-align: center;
    }
    .foot1{
        margin-left: 20px;
    }
    
}
@media screen and (min-width:400px) and (max-width:522px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--secondary-color);
        height: 100px;
        width: 100%;
    }
    .pavan{
        text-decoration: none;
        text-align: center;
        font-size: 27px;
        color: var(--color);
    }
    .unlock{
        display: none;
        text-decoration: none;
        font-size: 15px;
        color: var(--color);
    }
    .stark{
        position: relative;
        font-size: 10px;
        text-align: center;
    }
    #moon{
        position: absolute;
        top: -10px;
        left: 70px;
    }
    h1{
        text-align: center;
        font-size: 25px;
    }
    .mem{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baba{
        padding-top: 15px;
        padding-bottom: 15px;
       text-decoration: none;
       color: var(--color);
    }
    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        width: 100vw;
        row-gap: 30px;
        height: 400px;
    }
    .item1{
        height: 307px ;
        width: 280px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    .item2{
        height: 307px ;
        width: 280px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .img1 {
        height: 287px;
        width: 260px;
    }
    .item{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: item;
    }
    .data{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: data;
    }
    .bata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: bata;
    }
    .cata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: cata;
    }
    .eata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: eata;
    }
    .fata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: fata;
    }
    .article{
        height: 4100px;
        width: 100%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-areas: "item"
                             "data"
                             "bata"
                             "cata"
                             "eata"
                             "fata";
        justify-content: space-around;
        align-content: space-evenly;
    }
    .size {
        font-size: 25px;
        padding: 2%;
        color: var(--color);
    }
    .item2 h2{
        font-size: 20px;
    }
    .item2 p{
        font-size: 15px;
    }
    .lead {
        font-size: 11px;
        height: 18px;
        cursor: pointer;
        width: 55px;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
    }
    .lead:hover{
        background-color: var(--button-background);
        color: var(--button-color);
    }
    .profile{
        height: 1400px;
        width: 100%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
        align-items: center;
    }
    .profile1, .profile2{
        display: grid;
        grid-template-areas: "pro1"
                             "pro2";
        justify-content: center;
        row-gap: 10px;
        grid-area: data;
    }
    .pro1{
        grid-area: pro1; 
    }
    .pro2{
        grid-area: pro2;
    }
    .pro1{
        height: 307px ;
        width: 280px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    .pro2{
        height: 307px ;
        width: 280px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .footer {
        background-color:var(--primary-color);
        height: 280px;
        width: 100vw;
        display: grid;
        color: var(--color);
        grid-template-areas: "foot1 foot2 foot3 foot4";
        justify-content: space-evenly;
        column-gap: 20px;
        padding-top: 30px;
        /* flex-wrap: wrap; */
        background-color: var(--primary-color);
    }
    .foot1 {
        grid-area: foot1;
        font-size: 13px;
        margin-left: 10px;
    }
    
    .foot2 {
        grid-area: foot2;
        font-size: 13px;
    }
    
    .foot3 {
        grid-area: foot3;
        font-size: 13px;
    }
    
    .foot4 {
        grid-area: foot4;
        font-size: 13px;
    }
    .logos{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .foot1 {
        width: 20vw;
        height: 20%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-evenly;
    }
}
@media screen and (min-width:270px) and (max-width:400px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--secondary-color);
        height: 100px;
        width: 100%;
    }
    .pavan{
        text-decoration: none;
        text-align: center;
        font-size: 25px;
        color: var(--color);
    }
    .unlock{
        display: none;
        text-decoration: none;
        font-size: 15px;
        color: var(--color);
    }
    .stark{
        position: relative;
        font-size: 10px;
        text-align: center;
    }
    #moon{
        position: absolute;
        top: -10px;
        left: 70px;
    }
    h1{
        text-align: center;
        font-size: 22px;
    }
    .p2{
        text-align: center;
        font-size: 18px;
    }
    .mem{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .baba{
        padding-top: 15px;
        padding-bottom: 15px;
       text-decoration: none;
       color: var(--color);
    }
    .section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        width: 100vw;
        row-gap: 30px;
        height: 420px;
    }
    .item1{
        height: 297px ;
        width: 270px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    .item2{
        height: 297px ;
        width: 270px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .img1 {
        height: 277px;
        width: 250px;
    }
    .item{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: item;
    }
    .data{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: data;
    }
    .bata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: bata;
    }
    .cata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: cata;
    }
    .eata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: eata;
    }
    .fata{
        display: grid;
        grid-template-areas: "item1"
                             "item2";
        justify-content: flex-start;
        row-gap: 10px;
        grid-area: fata;
    }
    .article{
        height: 3950px;
        width: 100%;
        background-color: var(--secondary-color);
        display: grid;
        grid-template-areas: "item"
                             "data"
                             "bata"
                             "cata"
                             "eata"
                             "fata";
        justify-content: space-around;
        align-content: space-evenly;
    }
    .size {
        font-size: 25px;
        padding: 2%;
        color: var(--color);
    }
    .item2 h2{
        font-size: 20px;
    }
    .item2 p{
        font-size: 15px;
    }
    .lead {
        font-size: 11px;
        height: 18px;
        cursor: pointer;
        width: 55px;
        border: 1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
    }
    .lead:hover{
        background-color: var(--button-background);
        color: var(--button-color);
    }
    .profile{
        height: 1350px;
        width: 100%;
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .profile1, .profile2{
        display: grid;
        grid-template-areas: "pro1"
                             "pro2";
        justify-content: center;
        row-gap: 10px;
        grid-area: data;
    }
    .pro1{
        grid-area: pro1; 
    }
    .pro2{
        grid-area: pro2;
    }
    .pro1{
        height: 297px ;
        width: 270px;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
    .pro2{
        height: 297px ;
        width: 270px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        border-radius: 5px;
        background-color: var(--primary-color);
    }
    .footer {
        background-color:var(--primary-color);
        height: 280px;
        width: 100vw;
        display: grid;
        color: var(--color);
        grid-template-areas: "foot1 foot2 foot3 foot4";
        justify-content: space-evenly;
        column-gap: 20px;
        padding-top: 30px;
        /* flex-wrap: wrap; */
        background-color: var(--primary-color);
    }
    .foot1 {
        grid-area: foot1;
        font-size: 13px;
        margin-left: 10px;
    }
    
    .foot2 {
        grid-area: foot2;
        font-size: 10px;
    }
    
    .foot3 {
        grid-area: foot3;
        font-size: 10px;
    }
    
    .foot4 {
        grid-area: foot4;
        font-size: 10px;
    }
    .logos{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .foot1 {
        width: 20vw;
        height: 20%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-evenly;
    }
}
